#about-page
  .author-box
    .author-img
      img.no-lightbox(src='../../img/avatar.jpg')
    .image-dot
  p.p.center.logo.large çœŸå®Ÿã¯ã„ã¤ã‚‚ã²ã¨ã¤
  .author-content
    .author-content-item.myInfoAndSayHello
      .title1 ä½ å¥½ï¼Œå¾ˆé«˜å…´è®¤è¯†ä½ ðŸ‘‹
      .title2
        | æˆ‘æ˜¯
        span.inline-word è½©è¾•
      .title1
        | æ˜¯ä¸€å å®…ç”·å·¥ç¨‹å¸ˆ ã€æ‘¸é±¼
        span.inline-word åšä¸»
    .aboutsiteTips.author-content-item
      .author-content-item-tips è¿½æ±‚
      h2
        | æºäºŽ
        br
        | çƒ­çˆ±è€ŒåŽ»
        span.inline-word æ„Ÿå—
        .mask
          span.first-tips å­¦ä¹ 
          |
          span ç”Ÿæ´»
          |
          span(data-up) ç¨‹åº
          |
          span(data-show) ä½“éªŒ

  .hello-about
    .cursor(style='translate:none;rotate:none;scale:none;transform:translate(721px,180px)')
    .shapes
      .shape.shape-1(style='translate:none;rotate:none;scale:none;transform:translate(721px,180px)')
      .shape.shape-2(style='translate:none;rotate:none;scale:none;transform:translate(721px,180px)')
      .shape.shape-3(style='translate:none;rotate:none;scale:none;transform:translate(721px,180px)')
    .content
      h1 Hello!

  .author-content
    .author-content-item.skills
      .card-content
        .author-content-item-tips æŠ€èƒ½
        span.author-content-item-title å¼€å¯åˆ›é€ åŠ›
        .skills-style-group
          .tags-group-all
            .tags-group-wrapper
              each i in site.data.creativity
                - const evenNum = i.creativity_list.filter((x, index) => index % 2 === 0);
                - const oddNum = i.creativity_list.filter((x, index) => index % 2 === 1);
                each item, index in i.creativity_list
                  if ((index+1 <= evenNum.length) && (index+1 <= oddNum.length))
                    .tags-group-icon-pair
                      .tags-group-icon(style=`background: ${evenNum[index].color}`)
                        img.no-lightbox(title=evenNum[index].name, src=evenNum[index].icon)
                      .tags-group-icon(style=`background: ${oddNum[index].color}`)
                        img.no-lightbox(title=oddNum[index].name, src=oddNum[index].icon)
          .skills-list
            each i in site.data.creativity
              each item, index in i.creativity_list
                .skill-info
                  .skill-icon(style=`background: ${item.color}`)
                    img.no-lightbox(title=item.name, src=item.icon)
                  .skill-name
                    span=item.name
            .etc ...

  .author-content
    .author-content-item.game
      .card-content
        .author-content-item-tips çˆ±å¥½æ¸¸æˆ
        span.author-content-item-title è‹±é›„è”ç›Ÿ
  .author-content
    .author-content-item.comic-content
      .card-content
        .author-content-item-tips çˆ±å¥½ç•ªå‰§
        span.author-content-item-title åä¾¦æŽ¢æŸ¯å—

  .author-content
    .author-content-item.like-technology
      .card-content
        .author-content-item-tips å…³æ³¨åå¥½
        span.author-content-item-title å¥‡é—»å¼‚äº‹
        .content-bottom
          .tips æœªè§£ä¹‹è°œã€èµ°è¿‘ç§‘å­¦
    .author-content-item.like-music
      .card-content
        .author-content-item-tips éŸ³ä¹åå¥½
        span.author-content-item-title æž—ä¿Šæ°ã€æ±ªè‹æ³·
        |
        span.author-content-item-title æµè¡Œä¹
        .content-bottom
          .tips ä»Šæ—¥æ— äº‹  å‹¾æ å¬æ›²

  .author-content
    .create-site-post.author-content-item.single
      .author-content-item-tips å¿ƒè·¯åŽ†ç¨‹
      | å¥½è®°æ€§ä¸å¦‚çƒ‚ç¬”å¤´ï¼Œåˆ’é‡ç‚¹åœˆèµ·æ¥è¦è€ƒ
      br
      | è®°å½•å­¦ä¹ çŸ¥è¯†ï¼Œè®°å½•ç”Ÿæ´»ï¼Œåˆ†äº«ç”Ÿæ´»

script(src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/gsap/3.9.1/gsap.min.js")
script.
  (() => {
    function isInViewPortOfOne(el) {
      if (!el) return;
      const viewPortHeight = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
      const offsetTop = el.offsetTop;
      const scrollTop = document.documentElement.scrollTop;
      const top = offsetTop - scrollTop;
      return top <= viewPortHeight;
    }
    var pursuitInterval = null;
      pursuitInterval = setInterval(function () {
        const show = document.querySelector('span[data-show]')
        const next = show.nextElementSibling || document.querySelector('.first-tips')
        const up = document.querySelector('span[data-up]')

        if (up) {
          up.removeAttribute('data-up')
        }

        show.removeAttribute('data-show')
        show.setAttribute('data-up', '')

        next.setAttribute('data-show', '')
      }, 2000)

      document.addEventListener('pjax:send', function(){
        clearInterval(pursuitInterval);
      });

      var helloAboutEl = document.querySelector('.hello-about')
      helloAboutEl.addEventListener("mousemove", evt => {
        const mouseX = evt.offsetX;
        const mouseY = evt.offsetY;
        gsap.set(".cursor", {
          x: mouseX,
          y: mouseY,
        })

        gsap.to(".shape", {
          x: mouseX,
          y: mouseY,
          stagger: -0.1
        })
      })
  })()